body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
}

.login {
    font-size: 20px;
}

#Guess {
    margin-top: 120px; 
}

.k {margin-left:50px;
margin-top:-50px;}

.a {margin-left:9px;
margin-top:-50px;}

.s {margin-left:9px;
    margin-top:-50px;}