body.achtergrond{
    background-color: darkslategray;
    
    flex-direction:column;
    display:flex;
}


img{
width:20vw;
height:20vw;
margin-left:700px;
margin-top:30px;
border: 40px solid #ffffff;}

#img{
    margin-left:13vw;
    margin-top: 250px;
    width:66vw;
    height:auto;
    border: 40px solid #ffffff;
    border-radius: 10px;}

div.balk{
    background-color: #ffffff;
    height:100px;
    width:98vw;
    margin-top:-10px;
}

.p{color: rgb(0, 0, 0);
    margin-left:13vw;
    padding-top:0%;
    width:300px;
font-family:cursive;
font-size:30px;}

h2{
margin-left:13vw;
margin-top:-20vh;}

p.pa{
    margin-left: 13vw;
    margin-top: 0vh;
    width:350px;
color:black;}

img.po{margin-left:60vw;
border-radius: 10px;}

a:hover{
color:purple;
}

a.login{display:flex;
    margin-left:80vw;
margin-top:-190px;
font-size:20px;}

.login{margin-left:4.5vw;
font-size:20px;
bottom:-130px;
position:relative;}

.sub{margin-left:11vw;
    bottom:-130px;
    position:relative;}

div.bar{width:400px;
    height:400px;
background-color: #ffffff;
border-radius:10px;
margin-left:36%;
margin-top:10%;}

@media (orientation : portrait){
    img.po{margin-left:10vw;
        width:40vw;
        height:auto;
        border-radius: 10px;}
}

@media (orientation : portrait){
    #img{
        margin-left:2vw;
        margin-top: 30px;
        width:66vw;
        height:auto;
        border: 40px solid #ffffff;
        border-radius: 10px;}
}

@media (orientation : portrait){
    h2{
        margin-left:2vw;
        margin-top:5vh;}
}

@media (orientation : portrait){
    p.pa{
        margin-left: 2vw;
        margin-top: 0vh;
        width:300px;
    color:black;}
}

@media (orientation : portrait){
    div.balk{
        background-color: #ffffff;
        height:100px;
        width:91vw;
        margin-top:-10px;
    }
}

@media (orientation : portrait){
    .p{color: rgb(0, 0, 0);
        margin-left:2vw;
        padding-top:0%;
        width:300px;
    font-family:cursive;
    font-size:30px;}
}

@media (orientation : portrait){
    a.login{display:flex;
        margin-left:70vw;
    margin-top:-190px;
    font-size:20px;}
}

@media (orientation : portrait){
    div.bar{width:300px;
        height:400px;
    background-color: #ffffff;
    border-radius:10px;
    margin-left:7vw;
    margin-top:10%;}
}

h2.code{
    margin-top:10vh;
    margin-left:10vw;
}

.code{
    display:grid;
    margin-top: 4vh;
    margin-left: 6vw;
    width:50vw;
    height:auto;
    border-radius:10px;
}

.code2{
    margin-left: 66vw;
    margin-top: -58.5vh;
    height: 90vh;
    border-radius:10px;
}

p.foot{background-color: #ffffff;
width:80vw;
height:5vh;
margin-left:8vw;
text-align:center;
border-radius:10px;
}

@media(orientation : portrait){
    .code{
    display:grid;
    margin-top: 0vh;
    margin-left: 8vw;
    width:60vw;
    height:auto;
    border-radius:10px;}
}

@media(orientation : portrait){
    .code2{
        margin-left: 8vw;
        margin-top: 10vh;
        height: 70vh;
        width:60vw;
        border-radius:10px;
    }
}
